<div class="card">
  <ng-container *ngIf="bookHistoryStore.entity$ | async as booksHistory">
    <p-table
      [value]="booksHistory"
      [paginator]="true"
      [rows]="rows"
      [loading]="loading"
      [showCurrentPageReport]="true"
      [(first)]="first"
      responsiveLayout="scroll"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="key">Id<p-sortIcon field="key"></p-sortIcon></th>
          <th pSortableColumn="bookId">
            Book Id <p-sortIcon field="bookId"></p-sortIcon>
          </th>
          <th pSortableColumn="isbn">
            ISBN <p-sortIcon field="isbn"></p-sortIcon>
          </th>
          <th pSortableColumn="timeOfChange">
            Time of change <p-sortIcon field="timeOfChange"></p-sortIcon>
          </th>
          <th pSortableColumn="change">
            Change <p-sortIcon field="change"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bookHistory>
        <tr>
          <td>{{ bookHistory.key }}</td>
          <td>{{ bookHistory.bookId }}</td>
          <td>{{ bookHistory.isbn }}</td>
          <td>{{ bookHistory.timeOfChange }}</td>
          <td>{{ bookHistory.change }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>
