<ng-container *ngIf="bookHistoryStore.entity$ | async as booksHistory">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="booksHistory" matSort>  
    
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Key</th>
        <td mat-cell *matCellDef="let row">{{row.key}}</td>
      </ng-container>

      <ng-container matColumnDef="bookId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Book Id</th>
        <td mat-cell *matCellDef="let row">{{row.bookId}}</td>
      </ng-container>
  
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ISBN</th>
        <td mat-cell *matCellDef="let row">{{row.isbn}}</td>
      </ng-container>
  
      <ng-container matColumnDef="timeOfChange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time of change</th>
        <td mat-cell *matCellDef="let row">{{row.timeOfChange}}</td>
      </ng-container>
  
      <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Change</th>
        <td mat-cell *matCellDef="let row">{{row.change}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>    
  
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of history"
    ></mat-paginator>
  </div>
  </ng-container>
