<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <!-- <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedBooks()"
        [disabled]="!selectedBooks || !selectedBooks.length"
      ></button> -->
    </ng-template>
  </p-toolbar>
  <ng-container *ngIf="bookStore.entity$ | async as books">
    <p-table
      #dt
      [value]="books"
      [(selection)]="selectedBooks"
      dataKey="id"
      styleClass="p-datatable-customers"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['title', 'description', 'authors']"
      (onEditComplete)="onEditComplete($event)"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          List of Books
          <div class="flex">
            <button
              pButton
              label="Clear"
              class="p-button-outlined"
              icon="pi pi-filter-slash"
              (click)="clear(dt)"
            ></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="
                  dt.filterGlobal($any($event.target)?.value, 'contains')
                "
                placeholder="Global Search"
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="title">
            Title <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="description">
            Description <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th pSortableColumn="publishedDate">
            publishedDate <p-sortIcon field="publishedDate"></p-sortIcon>
          </th>
          <th pSortableColumn="authors">
            Authors <p-sortIcon field="authors"></p-sortIcon>
          </th>
          <th style="width: 8rem"></th>
        </tr>
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="
                dt.filter($any($event.target)?.value, 'id', 'startsWith')
              "
              placeholder="Search by Id"
              class="p-column-filter"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="
                dt.filter($any($event.target)?.value, 'title', 'contains')
              "
              placeholder="Search by Title"
              class="p-column-filter"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="
                dt.filter($any($event.target)?.value, 'description', 'contains')
              "
              placeholder="Search by Description"
              class="p-column-filter"
            />
          </th>
          <th>
            <p-calendar
              (onSelect)="onDateSelect($event)"
              (onClearClick)="dt.filter('', 'publishedDate', 'equals')"
              [showButtonBar]="true"
              styleClass="p-column-filter"
              placeholder="Publish Date"
              [readonlyInput]="true"
              dateFormat="yy-mm-dd"
            ></p-calendar>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-book>
        <tr class="p-selectable-row">
          <td>
            <p-tableCheckbox [value]="book"></p-tableCheckbox>
          </td>
          <td>
            <span class="p-column-title">Id</span>
            {{ book.id }}
          </td>
          <td [pEditableColumn]="book" [pEditableColumnField]="'title'">
            <span class="p-column-title">Title</span>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="book.title" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ book.title }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td [pEditableColumn]="book" [pEditableColumnField]="'description'">
            <span class="p-column-title">Description</span>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="book.description" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ book.description }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td [pEditableColumn]="book" [pEditableColumnField]="'publishedDate'">
            <span class="p-column-title">Publish Date</span>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-calendar
                  (onClearClick)="dt.filter('', 'publishedDate', 'equals')"
                  [(ngModel)]="book.publishedDate"
                  [showButtonBar]="true"
                  styleClass="p-column-filter"
                  placeholder="Publish Date"
                  [readonlyInput]="true"
                  dateFormat="yy-mm-dd"
                ></p-calendar>
              </ng-template>
              <ng-template pTemplate="output">
                {{ book.publishedDate }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td [pEditableColumn]="book" [pEditableColumnField]="'authors'">
            <span class="p-column-title">Authors</span>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <textarea
                  id="authors"
                  pInputTextarea
                  [(ngModel)]="book.authors"
                  required
                  rows="3"
                  cols="20"
                ></textarea>
              </ng-template>
              <ng-template pTemplate="output">
                {{ book.authors }}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No books found.</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>

<p-dialog
  [(visible)]="bookDialog"
  [style]="{ width: '450px' }"
  header="Book Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Title</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="book.title"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !book.title"
        >Title is required.</small
      >
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="book.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
    <div class="p-field">
      <label for="publishedDate">Publish Date</label>
      <p-calendar
        [(ngModel)]="book.publishedDate"
        [showButtonBar]="true"
        styleClass="p-column-filter"
        placeholder="Publish Date"
        [readonlyInput]="true"
        dateFormat="yy-mm-dd"
      ></p-calendar>
    </div>
    <div class="p-field">
      <label for="description">Authors</label>
      <textarea
        id="authors"
        pInputTextarea
        [(ngModel)]="book.authors"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveBook()"
    ></button>
  </ng-template>
</p-dialog>
