:host ::ng-deep {
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }  

  .mat-column-key {
    width: 10% !important;
  }

  .mat-column-isbn {
    width: 10% !important;
  }

  .mat-column-title {
    width: 10% !important;
  }
  
  .mat-column-genre {
    width: 5% !important;
  }

  .mat-column-description {
    width: 45% !important;
  }
  
  .mat-column-publishedDate {
    width: 10% !important;
  }

  .mat-column-authors {
    width: 10% !important;
  }

}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td, th {
      width: 25%;
    }
    
  }
}
